<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>AppName </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="/favicon.png">
    <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="module" crossorigin src="/assets/index.127c291c.js"></script>
  <link rel="modulepreload" href="/assets/vendor.9dbc6042.js">
  <link rel="stylesheet" href="/assets/index.fa720179.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<div id="root"></div>


<script>
	window.global = globalThis;
	window.require = function () {};
</script>

</body>
</html>
